<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="airbrake" data-view="List" data-unordered="true" data-title="Errors"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="github_status" data-view="Service" data-title="Github Status" data-message="" data-status="" data-image="/github.png"></div>
    </li>
  </ul>
</div>
